<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            padding: 20px;
            border: 2px solid #000000;
            border-radius: 12px;
        }
        .header {
            text-align: center;
            color: #333333;
            font-size: 26px;
            font-weight: 600;
            line-height: 32px;
        }

        .subclasss{
            color: red;
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
        }

        .message {
            color: #555555;
            font-size: 16px;
            text-align: center;
            line-height: 25px;
        }

        .otp {
            background-color: #f2f9ff;
            padding: 8px 15px;
            border: 1px solid black;
            border-radius: 8px;
            font-size: 20px;
            color: #000000;
            font-weight: bold;
            display: inline-block;
            margin-right: 8px;
        }
        .otp:hover{
            background-color: bisque;
        }
        .expiry{
            color: red;
            font-size: 18px;
            font-weight: 600;
            padding: 5px 10px;
            background-color: #B6FFA1;
            border-radius: 5px;
            border: 1px black solid;
            
        }
        .img {
            width: 22px;
            height: 22px;
            vertical-align: middle;
        }

        .footer {
            font-size: 12px;
            color: #999999;
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <table width="100%" cellspacing="10" cellpadding="10">
            <tr>
                <td colspan="2" class="header">Hello, {{username}}! <sub class="subclasss">Not Verified</sub></td>
            </tr>
            <tr>
                <td colspan="2" class="message">Hey {{userType}}! It seems that your account is not verified. Please verify with OTP :</td>
            </tr>
            <tr>
                <td class="otp-wrapper" align="center" colspan="2">
                    <span class="otp">{{otp}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="message">This code is valid for <span class="expiry">5</span> minutes.  If you didn’t request this email, please ignore it.</td>
            </tr>
            <tr>
                <td colspan="2" class="footer">© 2024 EventDTL. All rights reserved.</td>
            </tr>
        </table>
    </div>
    
</body>

</html>
